#   Python virtual environments
venv/
**/venv/

#   logs and temp files
*.log
**/*.log
*.tmp
**/*.tmp

#   specific folders globally
**/node_modules/
**/__pycache__/

#   all config folders except production
config/
!config/prod/

#   database files
*.sqlite3
**/*.sqlite3

# env files
**/.env

*.db
