# Python virtual environments
venv/
env/
**/venv/
*.venv/

# Logs and temp files
logs/
*.log
**/*.log
*.tmp
**/*.tmp

# Specific folders globally
**/node_modules/
**/__pycache__/

# All config folders except production
config/
!config/prod/

# Database files
*.sqlite3
**/*.sqlite3
*.db

# Environment files
**/.env

# Byte-compiled / optimized / DLL files
*.py[cod]
*.so
*.dll
*.dylib
*.pyd

# PyInstaller build files
build/
dist/
*.spec

# System-specific files
.DS_Store
Thumbs.db

# Cache files
.cache/
*.egg-info/
*.pyc

# Ignore all executables
**/*.exe
**/*.out
**/*.bin
**/*.app
**/*.sh
**/*.zip
**/*.tar.gz
